<!DOCTYPE html>
<html>
<head>
    <title>Detector de Spam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Detector de Spam</h1>

    <form method="POST">
        <textarea name="mensaje" placeholder="Escribe un mensaje"></textarea>
        <br><br>
        <button type="submit">Analizar</button>
    </form>

    <h3>Analizador de mensajes en tiempo real</h3>
    
        {% if resultado %}
    <h2>{{ resultado }}</h2>
{% endif %}

        <p>Palabras detectadas:</p>
        <ul>
            {% for palabra in palabras %}
                <li>{{ palabra }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>Historial</h2>
<ul>
    {% for item in historial %}
        <li>{{ item.mensaje }} → {{ item.resultado }}</li>
    {% endfor %}
</ul>

</body>
</html>